<style>
    #titulo-1 {
            font-family: fantasy;
            color:rgb(245, 245, 242);
            text-align: center;
            font-style: italic;
            background-color:rgb(148, 146, 89);
            font-size:1em;
              
                  }
            
            #yayo {
                  font-size:1em;

            }
            #yayo2 {
                font-size:2em;
            }
            #titulo-2 {
                text-align: center;
                color:rgb(199, 187, 112);
                    }
                    
            .inicio {
                font-size: 11px;
                background-color:rgb(199, 187, 112);
                    }
            #j-a {
                text-align:center;
                background-color:rgb(247, 247, 242);
                color:rgb(199, 187, 112)
                 }
            #fecha {
                text-align:center;
                font-family: futura;
                  }
            #numero {
                text-align:center;
                font: normal 1.5rem illusiasRegular;
                font-style: italic;
                color:rgb(105, 89, 35);
                        } 
            .titulo-3 {
                font-family: futura ;
                background-color:rgb(199, 187, 112);
                color:rgb(247, 247, 242) ;
                  }     
            
            .boton {
                text-align: center;
                text-decoration: none;
                padding: 50px;
                font-size: 40px;
                color:rgb(245, 245, 240);
                background-color:rgb(171, 166, 89);
                border-radius: 1px;
                border: px solid #0016b0;
                margin: 20px;
                line-height:15px;
                position: relative;
                outline: 12px solid;
                transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  
            }
            
            .boton:hover {
                box-shadow: inset 0 0 20px rgba(133, 127, 56, 0.5), 0 0 20px rgba(207, 199, 106, 0.4);
                outline-color: rgba(196, 201, 100, 0);
                outline-offset: 80px;
                text-shadow: 1px 1px 6px #fff;
  
            }
            .boton a {
                color:rgb(130, 123, 21);
            }
            
            #confirmNameInput {
                position: relative;
                margin: 20px;
                width: calc(100% - 4.0rem - 4px);
                margin-top: 1.0rem;
                padding: 1.4rem 0.7rem 1.4rem 0.6rem;
                font: normal 1.4rem latoRegular;
            
               color:rgb(179, 179, 86);
               
                }
            #luna-miel {
                    text-align: center;
                    font-family:futura;
                    color:rgb(150, 224, 214);
                           }
                           
            #parrafo-1 {
                    text-align: center;
                    font-family:futura;
                    color:rgb(81, 97, 97);
                    
                    
                }
                
            .imagen-imagen {
                    position: relative;
                    float: relative;
                    width: 25%;
                    margin-top: 2.3rem;
                    border-radius: 200%;
                    height:100px;
                }
                
                #parrafo-3 {
                position: relative;
                margin-left: 1%;
                margin-top: 4.2rem;
                font: normal 1.0rem;
                color:rgb(81, 97, 97);
                line-height: 150%;
                text-align: center;    
                }
            
            #infoMenuItemsWrapper {    
                position: relative;
                float: left;
                width: 1%;
                margin-left: 0%;
                margin-top: 0rem;
                
            }
            .infoMenuItem {
                position: relative;
                float: left;
                width: calc(15% - -100px);
                margin-top: 4.1rem;
                margin: 72px;
                padding-top: 1rem;
                padding-bottom: 1rem;
                font: normal 1.2rem;
                color:rgb(204, 202, 137);
                text-decoration: none;
                text-align: center;
                background: rgb(247, 247, 242);
                border: solid 2px rgb(168, 165, 84);
                border-radius: 8px;
                cursor: pointer;
                transition: all -1.2s 0s ease;
    
            }
            
            .titulos-4 {
                color:rgb(199, 187, 112);
                font-family: futura;
            }
            
            .fecha-hora {
                color:rgb(97, 97, 64);
            }
        
</style>